{{template "nav.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="wrap">
        <div class="sidemenu">
            <div class="submenu__item">Общий бэк</div>
            <div class="submenu__item">Статьи</div>
        </div>
        <div class="content">
            <div class="totalback">
                <div class="totalback__article">
                    <b>До Элмы</b>
                    <p>
                        До Элмы я работал графическим дизайнером в нескольких компаниях.
                        В последней компании "Welcome Group" у меня появились задачи связанные с веб разработкой.
                        Это был простой дизайн и простая верстка.
                    </p>
                    <p>
                        После случился ковид, и мне пришлось переобуваться находу: работу дизайнером стало трудно найти.
                        Я нашел бесплатные курсы от белурусского офиса Epam. Так я начал изучать фронт.
                        Это было непросто, но через 9 месяцев и нескольких попыток найти работу фронтендером меня позвали в Elma.
                    </p>
                    <br>
                    <b>Элма</b>
                    <p>
                        Так как фронта в low-code или почти нет или появляется редко, то так вышло, что больше начал заниматься около backend'выми задачами + немножко DevOps.
                        На старте я был в QuickBPM, у нас была небольшая команда, так что часто на проектах приходилось заниматься всем подряд.
                        В итоге я словил множество ошибок на DevOps задчах, так как не сталкивался с этим ранее, и было очень трудно принимать маломальски правильные решения.
                    </p>
                    <p>
                        Спустя 1,5 г. я решил двигаться в сторону бэкенда, выделяя максимум из свободного времени на лекции, практику.
                        Так как бэк в Элме преимущественно на go, я конечно же выбрал golang. Пока что мне удалось написать несколько микросервисов, которые участвовали в проектах (это были простые конвертации, например из xml в json, которую нельзя было выполнить в рамках бизнес-процессов).
                    </p>
                    <p>
                        На данный момент у меня нет серъезных сервисов, либо я не считаю их таковыми.
                        Однако я пытаюсь использовать возможности на проектах, чтобы самому написать что-то. Например, на текущем проекте создал небольшой сервис, который обрабатывает директории с файлами и отправляет их в Элму (заугрузка в элементы приложений, на которые настроены права).
                    </p>
                </div>
            </div>
    
            <div class="articles">
    
            </div>
        </div>
    </div>
    <footer>
        links
    </footer>
</body>
</html>