{{template "nav.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    <div class="wrap">
        <div class="project">
            <b>СФТ Групп</b>
            <p>
                Микросервис для отправки большого массива файлов.
                Портал на Vuejs. 
                Кастомные скрипты по конвертации числа в строку + перевод на английский. А также кастомные склонения + перевод на английский.
            </p>
        </div>
        <div class="project">
            <b>Транслом</b>
            <p>
                Микросервис xml в json на golang.
                Кастомная орг. структура.
            </p>
        </div>
        <div class="project">
            <b>Heineken</b>
            <p>
                Микросервис json-xlsx-json.
                Работа над порционной загрузкой файла. 
                Микросервис xml-json. 
            </p>
        </div>
    </div>
</body>
</html>